[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/papermod"]
	path = themes/papermod
	url = git@github.com:adityatelange/hugo-PaperMod.git
[submodule "themes/mini"]
	path = themes/mini
	url = https://github.com/nodejh/hugo-theme-mini.git
[submodule "themes/bearblog"]
	path = themes/bearblog
	url = git@github.com:janraasch/hugo-bearblog.git
